[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = "==2.0.0a0"
numpy = "*"
matplotlib = "*"
tensorflow = "~=2.4"
kaggle = "*"

[dev-packages]

[requires]
python_version = "3.8"
